#elfLand {
   text-align: center;
   width:900px;
   }
#removepc1 {
   width: 250px;
   height: 250px;
}
#removepc2 {
   width: 250px;
   height: 250px;
}#removepc3 {
   width: 250px;
   height: 250px;
}
#removepc4 {
   width: 250px;
   height: 250px;
}
.smallImages {
  width: 25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  object-fit: scale-down;
  grid-auto-rows: minmax(100px, auto);
}
.subheader {
	position:absolute;
	left: 20px;
}
a {
	padding: 10px;
}
